<div class="body">
    <div class="form-container">
        <ul class="login-menu-list">
            <h2><strong>Forgot your password?</strong></h2>
            <li>
                Enter your Benedictine email address (@ravens.benedictine.edu) 
                and you will receive a one-time link to reset your password.
            </li>
            <li><input type="email" name="Email Address" placeholder="example@ravens.benedictine.edu"></li>
            <li><input type="button" name="Submit" value="Submit"></li>
        </ul>
    </div>
</div>