* {
    box-sizing: border-box;
}

.helpBanner {
    background-color: #000;
    background-image: url("http://localhost:4200/assets/helpBanner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: #fff;
    padding: 30px;
    text-shadow: 2px 2px #000;
}

.helpBanner h2 {
    margin-top: 0;
}

.row {
    display: flex;
}  

.column {
    flex: 50%;
    padding: 10px;
}

#left {
    background-color: #d04f6f; 
}

#right {
    border-style: none none none solid;
}