* {
	box-sizing: border-box;
}

.dropdown-heading {
	background-color: #a1a1a1;
	width: 250px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 10px 10px 0px 0px;
	text-align: left;
}

.dropdown-footer {
	background-color: #333333;
	width: 250px;
	padding-top: 2px;
	padding-bottom: 2px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 0px 0px 10px 10px;
}

.profile_pic {
	position: relative;
	float: right;
	height: 40px;
	background: rgb(0, 0, 0, 0);
	z-index: 0;
}

#profile_button {
	padding: 0px;
	border: none;
}

#profile_img {
	float: right;
	position: relative;
	padding-top: 2px;
	padding-right: 4px;
	z-index: 0;
}

#notification_bubble {
	position: relative;
	text-align: center;
	font-size: 18px;
	margin-left: -13px;
	z-index: 1;
	width: 20px;
	height: 20px;
	border-radius: 25px;
	background: rgb(255, 0, 0, 0.9);
}

#notification_list {
	z-index: 1;
}

.dropdown {
	position: relative;
	float: right;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 250px;
	/* padding: 12px 16px; */
	z-index: 1;
	right: 0;
	top: 44px;
	text-align: center;
	border-radius: 10px;

}

.dropdown:hover .dropdown-content {
	display: block;
}

.notifications {
	text-align: left;
	position: relative;
}

.notifications p {
	padding: 10px 15px;
	margin: 0;
}

.notifications p:hover {
	background-color: #ddd;
}

ul {
	padding: 0px;
}

ul img {
	height: auto;
	width: 30px;
	position: absolute;
  	top: 50%;
  	transform: translate(0%, -50%);
}

.text {
	padding-left: 38px;
}

.column1 {
	float: left;
	width: 50%;
	text-align: left;
	padding-left: 10px;
}

.column2 {
	float: left;
	width: 50%;
	text-align: right;
	padding-right: 10px;
	padding-top: 8px;
}

.column2 img {
	height: auto;
	width: 100px;
}

.column1 p {
	color: #ffffff;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}