<div class="dropdown">
	<button id="profile_button" class="profile_pic">
		<span *ngIf="invitations && invitations.length" id="notification_bubble" class="profile_pic">!</span>
		<img id="profile_img" class="profile_pic" src="/assets/default_profile_pic.png">
	</button>
	<ul class="dropdown-content">
		<li class="dropdown-header">
			<p>User Notifications</p>
		</li>

		<!--Notifications in dropdown-->
		<ul class="dropdown-item">		
			<li *ngFor="let invitation of invitations">
				Group invite from:
				<br/>
				{{ invitation.leader }}
				<br/>
				<button class="decline-button" title="Decline" (click)="declineInvite(invitation.group_id)">✗</button>
				<button class="accept-button" title="Accept" (click)="acceptInvite(invitation.group_id)">✓</button>
			</li>
			<li *ngIf="invitations.length == 0" class="no-notifications">
				No notifications
			</li>
		</ul>

		<!--Dropdown footer-->
		<li class="dropdown-footer">
			<p>Hey {{myInfo.first_name}}</p>
			<p>
				<a routerLink="/change-password"><button class="footer-button">✎ Change Password</button></a>
				<a routerLink="/log-out"><button class="footer-button" (click)="logout()">❌ Logout</button></a>	
			</p>
		</li>
	</ul>
</div>