<div class="dropdown">
	<button id="profile_button" class="profile_pic">
		<span *ngIf="invitations && invitations.length" id="notification_bubble" class="profile_pic">!</span>
		<img id="profile_img" class="profile_pic" src="/assets/default_profile_pic.png">
	</button>
	<div class="dropdown-content">
		<!--Dropdown header-->
		<div class="dropdown-heading">
			<p>Notifications</p>
		</div>

		<!--Notifications in dropdown-->
		<div class="notifications">
			
			<!-- This is to display all notifications-->
			<ul *ngFor="let invitation of invitations">
				<p><img src="../../assets/groupIcon.png"><div class="text">New group invite from {{ invitation.leader }}</div></p>
			</ul>

			<!--this is to test formating of invites DEMONSTRATION ONLY
			<ul>
				<p><img src="../../assets/groupIcon.png"><div class="text">New group invite</div></p>
			</ul>-->

		</div>

		<!--Dropdown footer-->
		<div class="dropdown-footer">
			<div class="row">
				<div class="column1">
					<p>{{myInfo.first_name}} {{myInfo.last_name}}</p>
				</div>
				<div class="column2">
					<a routerLink="/log-out">
						<img src="../../assets/logoutButton.png">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="button-text"><a routerLink="/change-password">Reset Your Password</a></div>
			</div>
		</div>
	</div>
</div>
