<title>Room Draw 2020 - Documents Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<app-nav-bar></app-nav-bar>

<!--Main Content-->
<div class="row">
<!--Your Information
	NEEDS TO INCLUDE:
	Student Name
	Random #
	Group Members?
	Names of wishlists?-->
	<div class="column" style="background-color:#aaa;">
		<div class = "faq-question-box">
			<h3><strong>What is Room Draw? **NOTE ALL DATA IS FROM LAST YEAR'S ROOM DRAW INFO**</strong></h3>
			<p>
				Room Draw is Benedictine College's annual housing selection process. All students are required to participate
				in Room Draw in order to select their campus housing for the following year. Room Draw is based on seniority,
				determined by social class standing (senior, junior, and sophomore). Starting with the senior class, each
				member of a class is assigned a random number which determines his or her bidding order (see bidding order below).
				Those students with the lowest numbers bid first. An individual's random number can be seen on the left side of
				the home page of the Room Draw website after logging in.
			</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>What do I have to do to participate in Room Draw?</strong></h3>
			<ol>
				<li>Find your name and random number on the home page of the Room Draw website.</li>
				<li>
					Either create a housing group or accept an invitation to another group. See below questions and answers
					on other group facts for more information.
				</li>
				<li>
					Develop <strong>four</strong> living group options in case you don't receive your first options.
					<strong>Group size must match room size. Your group will not be allowed to select a housing option
					that is not completely filled or it will be combined with another group to fill the space.</strong>

					<strong>Add what students should do if they are in need of a roommate.</strong>
				</li>
				<li><strong>Check the Room Draw schedule below and participate in the Live Draw (found in the above navigation bar
					at the appropriate time <u>IDK HOW THIS WILL WORK WITH ROOM DRAW BEING ONLINE.</u></strong>
				</li>
			</ol>
		</div>
		<div class = "faq-question-box">
			<h3><strong>What is the bidding order for Room Draw?</strong></h3>
			<p>
				Bidding order is determined by the social class standing of the members of a housing group, which students can form. 
				The exact order is listed below:
			</p>
			<ol>
				<li>Senior and Senior</li>
				<li>Senior and Junior</li>
				<li>Senior, Junior, and Sophomore</li>
				<li>Senior and Sophomore</li>
				<li>Junior and Junior</li>
				<li>Junior and Sophomore</li>
				<li>Sophomore and Sophomore</li>
			</ol>
		</div>
		<div class = "faq-question-box">
			<h3><strong>What are the allowed group sizes for each residence hall?</strong></h3>
			<p><strong>*Note that all students who are on disciplinary probation are not eligible to live in the Row Houses.</strong></p>
			<h4>Possibilities for Women</h4>
			
			<table>
				<tr>
				  <th>Residence Hall</th>
				  <th>Allowed Group Sizes</th>
				</tr>
				<tr>
				  <td>St. Elizabeth Hall</td>
				  <td>2, 3, 4, or 6</td>
				</tr>
				<tr>
				  <td>Our Lady of Guadalupe Hall</td>
				  <td>2, 4, or 6</td>
				</tr>
				<tr>
					<td>Cray-Seaberg Hall</td>
					<td>2 or 4</td>
				</tr>
				<tr>
					<td>McDonald Hall</td>
					<td>8</td>
				</tr>
				<tr>
					<td>Legacy Apartments</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Row Houses<sup>**</sup></td>
					<td>4 or 5</td>
				</tr>
			</table>

			<h4>Possibilities for Men</h4>
			
			<table>
				<tr>
				  <th>Residence Hall</th>
				  <th>Allowed Group Sizes</th>
				</tr>
				<tr>
				  <td>Newman Hall</td>
				  <td>2 or 4</td>
				</tr>
				<tr>
				  <td>St. Joseph Hall</td>
				  <td>2, 6, or singles</td>
				</tr>
				<tr>
					<td>St. Michael Hall</td>
					<td>2, 4, or singles</td>
				</tr>
				<tr>
					<td>Legacy Apartments</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Row Houses<sup>**</sup></td>
					<td>4 or 5</td>
				</tr>
			</table>
		</div>
		<div class = "faq-question-box">
			<h3><strong>If I am in a group with multiple students, according to whose random number does my group get to select housing?</strong></h3>
			<p>
				The highest number out of all the group members' random numbers is the number used to determine when the group gets
				to submit their bid.
			</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>How does my group select what rooms we want?</strong></h3>
			<p>
				I don't remember how this works, we'll have to add it.
			</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>What if my group's number one choice for a room is taken before we have the chance to bid on it?</strong></h3>
			<p>
				If a group's number one room on their wishlist is taken, the group can simply bid for their second choice room.
				For this reason, the Student Life Office asks groups to select four desired rooms.

				<strong>Need to add if the room disappears off housing list if it is taken</strong>
			</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>How and when does my group bid for the housing we want?</strong></h3>
			<p>
				Each group will bid for housing using the Live Draw tab in the navigation bar.
				<strong>Need to add details of how to use live draw and dates of when each group goes based off the bidding order</strong>
			</p>
		</div>
        <div class = "faq-question-box">
			<h3><strong>Who participates in Room Draw?</strong></h3>
			<p>
				<strong><u>All</u></strong> traditional, undergraduate students, regardless of their previous housing arrangements 
				are required to apply for housing each year, including those with exceptions for living off-campus. 
				<strong><u> Students should not sign any lease agreements for off-campus housing before receiving written approval
				to live off-campus from the Student Life Office.</u></strong> Students who enter into lease agreements prior to 
				Room Draw or without written approval from the Student Life Office do so at their own risk.
			</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>Who and how many people can live off-campus, and how does the procedure of applying for it differ from that for on-campus housing?</strong></h3>
			<p>
				All sophomores are required to live on-campus. Therefore, Senior/Sophomore and Junior/Sophomore groups can only bid on
				on-campus housing options.
			</p>
			<p>
				All traditional, undergraduate students who wish to live off-campus are still required to live on-campus and
				participate in Room Draw. An <i>Off-Campus Waitlist <strong>NEED TO CREATE, could add Link to it here</strong></i> will 
				be available on the Room Draw website for students to indicate their off-campus housing preference. Students on the 
				<i>Off-Campus Waitlist</i> will be assigned a room on-campus. This on-campus room is where the student should
				plan to live for the upcoming academic year. If the need arises to award students off-campus status after Room Draw,
				the Student Life Office will send written notification to the students on the <i>Off-Campus Waitlist.</i>
				The maximum group size allowed on the <i>Off-Campus Waitlist</i> is four. The number of off-campus slots that will
				be available at Room Draw, if any, is still being determined. The anticipated number of off-campus slots, for both 
				men and women, will be posted on <strong>INSERT DATE HERE.</strong> Students who enter into lease agreements while they
				are on the <i>Off-Campus Waitlist,</i> do so at their own risk as they have not yet been approved to live off-campus.
			</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>What if I am studying abroad the semester Room Draw occurs?</strong></h3>
			<p>
				<strong>Students currently studying abroad</strong> follow the same procedure as non-study abroad students 
				to apply for housing.
			</p>
		</div>
		<div class = "faq-question-box">
			<h3>
				<strong>If I wish to apply for a commuter application and have an automatic exemption, where is the application and how is it different
				from the normal procedure to apply for on-campus housing?</strong>
			</h3>
			<p>
				Commuter applications are currently available on the documents page <strong>MUST ADD.</strong> To determine if you are eligible
				for a commuter exemption, you need to complete a <strong>Commuter Application.</strong> Students must complete and submit
				their application with the requested verification <strong>presumably of commuter exemption status</strong> to the Student Life Office 
				for approval on or before <strong>INSERT DATE HERE.</strong> Students who meet <strong>I presume this means "are approved for"</strong> 
				an automatic exemption, but choose to live on-campus are required to live on-campus for both fall and spring semesters.
			</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>Are there any factors that would affect my random number, my right to participate in Room Draw, or my right to select certain housing?</strong></h3>
			<p>
				<strong>Students on disciplinary probation</strong> or who violate Room Draw procedures in the current academic
				year will be assigned a number that falls at the end of their class. They are also not eligible to live in the Row Houses.
				<strong>Students who fail to participate in Room Draw</strong> forefeit the right to choose a room or roommate and will 
				be assigned a room by the college.
			</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>What if I am graduating in the fall of 2020 and/or am a fifth year senior?</strong></h3>
			<p>
				<strong>Fall 2020 graduates</strong> are required to live off-campus. Fall graduates who would still like to
				live on-campus for their final semester can be added as an additional roommate to a full living option
				(i.e. they can be a fifth person in a four-person apartment).
			</p>
			<p>
				<strong>5<sup>th</sup> year seniors can live on campus if they commit to a full year.</strong> 5<sup>th</sup> 
				year seniors can be a member of any group and do not receive a random number for Room Draw.
			</p>
		</div>
	</div>
</div>