<title>Room Draw 2020 - Documents Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<app-nav-bar></app-nav-bar>


<div class="column" style="background-color:#aaa;">
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>I have a general question about room draw not related to the website, who can I contact?</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">You can contact Jennifer Sanger at jsanger@benedictine.edu or 913-360-7519.</div>
	</label>
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>Can I participate in the online room draw on my phone or tablet?</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">While it is possible to do this, at this time the site has not been optimized for small screens so it would probably be difficult to do it on your phone. We strongly recommend using your desktop or laptop. It is required to use Microsoft Edge or Mozilla browser.</div>
	</label>
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>What if I want to go through Room Draw alone?</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">Yes you can.  For men, single rooms are available to put on your housing wishlist.  These rooms are in St. Michael Hall (213 or 313) and in St. Joseph Hall.  For women, single rooms are not available to put on your housing wishlist.  Please make your wishlist based on the residence hall and room you hope to live in.  When it is time to award you housing, you will be placed in an open bed in the hall and room closest to your preferences.  Additionally, Student Life keeps a list of students looking for roommates.  To get your name on the list and see who is on the list, please email studentlife@benedictine.edu.</div>
	</label>
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>When do I find out what room we got?</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">The second phase of room draw will be conducted by staff starting on Monday May 4th-- more announcements will come later.</div>
	</label>
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>How many off campus spots exist this year?</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">16 Spots for Women, 20 Spots for Men. If you are interested in living off-campus and all off-campus spots are taken, please place your group’s names on the off-campus waitlist. You can do this by adding off-campus to your housing wishlist.</div>
	</label>
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>Is there still a wait list for off campus or any housing for that matter?</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">Yes, your wish list serves as both your priorities and your wait list in the event you don't get your first preferences.</div>
	</label>
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>What is the role of the group leader?</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">The student with the best random number (lowest) will become the group leader. They are responsible for inviting members to their group and building the group’s housing wishlist. The group leader’s wish list will be the one considered to be the wishes of the combined group.</div>
	</label>
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>My wish list disappeared or changed, what happened?</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">The wish list you see is the wish list of the group leader. Your wish list is saved and you can retrieve it by leaving your group.</div>
	</label>
	<label class="collapsible">
		<!-- Allows the user to click an arrow (which revelas the answer to the question) -->
		<input type="checkbox"/> 
		<span class="collapser"><b>Housing Wish List - Tips for success</b></span>
		<span class="arrow">&gt;</span>
		<div class="collapsed">Your housing wish list serves as a way for you to track your housing priorities. In addition it allows Residence Life to know what you wanted so that in the event that you don’t initially get the room you want most but that room becomes available later, the staff can place you in a room you consider to be more desirable. In conclusion, your wish lists should have a flexible mix of rooms so that you can adapt to changing availability. This is particularly important to groups going through after the Seniors.

			Example:
			
			Wish List Priority 1:
			
			Off Campus (groups of 4 only)
			
			Wish List Priority 2:
			
			Row House
			
			Wish List Priority 3:
			
			4 Bedroom Apartment
			
			Wish List Priority 4:
			
			2 Bedroom Apartment</div>
	</label>
</div>