<title>Room Draw 2020 - Documents Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<app-nav-bar></app-nav-bar>


	<div class="column" style="background-color:#aaa;">
		<div class = "faq-question-box">
			<h3><strong>Example Question</strong></h3>
			<p>Example answer text.</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>***Data is for Peter to copy to Housing Wish List page***What are the allowed group sizes for each residence hall?</strong></h3>
			<p><strong>*Note that all students who are on disciplinary probation are not eligible to live in the Row Houses.</strong></p>
			<h4>Possibilities for Women</h4>
			
			<table>
				<tr>
				  <th>Residence Hall</th>
				  <th>Allowed Group Sizes</th>
				</tr>
				<tr>
				  <td>St. Elizabeth Hall</td>
				  <td>2, 3, 4, or 6</td>
				</tr>
				<tr>
				  <td>Our Lady of Guadalupe Hall</td>
				  <td>2, 4, or 6</td>
				</tr>
				<tr>
					<td>Cray-Seaberg Hall</td>
					<td>2 or 4</td>
				</tr>
				<tr>
					<td>McDonald Hall</td>
					<td>8</td>
				</tr>
				<tr>
					<td>Legacy Apartments</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Row Houses<sup>**</sup></td>
					<td>4 or 5</td>
				</tr>
			</table>

			<h4>Possibilities for Men</h4>
			
			<table>
				<tr>
				  <th>Residence Hall</th>
				  <th>Allowed Group Sizes</th>
				</tr>
				<tr>
				  <td>Newman Hall</td>
				  <td>2 or 4</td>
				</tr>
				<tr>
				  <td>St. Joseph Hall</td>
				  <td>2, 6, or singles</td>
				</tr>
				<tr>
					<td>St. Michael Hall</td>
					<td>2, 4, or singles</td>
				</tr>
				<tr>
					<td>Legacy Apartments</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Row Houses<sup>**</sup></td>
					<td>4 or 5</td>
				</tr>
			</table>
		</div>
	</div>