<title>Room Draw 2020 - Documents Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<app-nav-bar></app-nav-bar>

<!--Main Content-->
<div class="row">
<!--Your Information
	NEEDS TO INCLUDE:
	Student Name
	Random #
	Group Members?
	Names of wishlists?-->
	<div class="column" style="background-color:#aaa;">
		<div class = "document-box">
			<h3><strong>Documents</strong></h3>
			<ul>
				<li><a href="https://benedictinecollege.formstack.com/forms/room_board_agreement" target="_blank">Room and Board Agreement</a></li>
				<li><a href="../../assets/RoomDrawInformation.pdf" target="_blank">Room Draw 2020 Information Sheet</a></li>
			</ul>
		</div>
	</div>
</div>
