<div class="body">
    <div class="form-container">
        <ul class="login-menu-list">
            <li><strong>Student Registration</strong></li>
            <li><input type="text" name="FirstName" placeholder="First Name"></li>
            <li><input type="text" name="LastName" placeholder="Last Name"></li>
            <li>
                <select>
                    <option value="null">Select social class...</option>
                    <option value="1">Freshman</option>
                    <option value="2">Sophomore</option>
                    <option value="3">Junior</option>
                    <option value="4">Senior</option>
                    <option value="5">5th-year senior</option>
                </select>
            </li>
            <li>
                <select>
                    <option value="null">Select gender...</option>
                    <option value="1">Female</option>
                    <option value="2">Male</option>
                </select>
            </li>
            <li><input type="email" name="Email" placeholder="Benedictine Email Address"></li>
            <li><input type="email" name="Email" placeholder="Confirm Email Address"></li>
            <li><input type="password" name="password" placeholder="Password"></li>
            <li><input type="password" name="password" placeholder="Confirm Password"></li>
            <li><input type="button" name="Submit" value="Submit"></li>
        </ul>
    </div>
</div>