<div id="home">
	<app-nav-bar></app-nav-bar>

	<!--Image Banner-->
	<div id="bannerImage">
		<img src="assets/banner.jpg" alt="banner">
	</div>
	<!--Main Content-->
	<div class="row">
		<div id="columnInfo" class="column">
			<div class="dividerImage">
				<img src="assets/bcDividerLogo.png">
			</div>
			<h2>Your Information</h2>
			<h3>Student: {{myInfo.first_name}} {{myInfo.last_name}}</h3>
			<h3>Your Random Number: {{myInfo.random_number}}</h3>
			<h3>You are number {{rank}} in line</h3>
			<app-group></app-group>
		</div>
		<!--Room Draw Status Update includes Progress Bar NEEDS TO BE LINKED TO DB includes Checklist NEEDS TO BE LINKED TO DB-->
		<div id="columnWishlists" class="column"><h2>Room Draw Status</h2>
			<h3>Checklist:</h3>
			<ol>
				<li>Change Your Password.</li>
				<li>Complete Your <a href="https://benedictinecollege.formstack.com/forms/room_board_agreement" target="_blank">Room and Board Agreement</a>.</li>
				<li>Create your Room Draw Group through the <i>Add Student to My Group</i> button.</li>
				<li>Create your Housing Wish List using the <i>Group Leader's</i> Account.</li>
				<li>Develop at least <b>10 preferences</b> for your group's Housing Wish List.</li>
			</ol>
		</div>
	</div>
</div>
