<div id="home">
	<app-nav-bar></app-nav-bar>

	<!--Image Banner-->
	<div id="bannerImage">
		<img src="assets/banner.jpg" alt="banner">
	</div>
	<!--Main Content-->
	<div class="row">
		<div id="columnInfo" class="column">
			<div class="dividerImage">
				<img src="assets/bcDividerLogo.png">
			</div>
			<h2>Your Information</h2>
			<h3>Student: {{myInfo.first_name}} {{myInfo.last_name}}</h3>
			<h3>Your Random Number: {{myInfo.random_number}}</h3>
			<h3>Your place in line: {{rank}}</h3>
		</div>
		<!--Room Draw Status Update includes Progress Bar NEEDS TO BE LINKED TO DB includes Checklist NEEDS TO BE LINKED TO DB-->
		<div id="columnWishlists" class="column"><h2>Room Draw Status</h2>
			<h3>Checklist:</h3>
			<p>Create or Join a Housing Group</p>
			<p>Complete a Housing Wish List</p>
			<p>Complete and Turn in Documents</p>
		</div>
	</div>
</div>
