<!-- Room Draw Project
11/7/2018
Eli Pruneda
Housing Wish List Management
0.1 Notes
4/2/19 Converted from Live Draw Page.
User may create and edit housing wish lists-->
<!Doctype html>
<app-nav-bar></app-nav-bar>
<div class="content">
	<h1>Housing Wish List Management</h1>
	<div class="btn-group">
		<button (click)="loadDorm(hall.id)" *ngFor="let hall of halls">{{hall.name}}</button>
	</div>
	<!-- Room Availability Menu -->
	<h2>Room Availability</h2>
	<div class="row">
		<div class="column-left" style="background-color:#aaa;">
			<div class="btn-group">
				<button (click)="loadPlan(f)" *ngFor="let f of number_floors"> Floor {{f}}</button>
			</div>
			<h2>Rooms</h2>
			<!--This get all rooms-->
			<div class="room">
				<!--Room #, Room Capacity, Spots left, Type-->
				<table>
					<tr>
						<th>Room #</th>
						<th>Capacity</th>
						<th>Spots Open</th>
						<th>Type</th>
					</tr>
					<tr *ngFor="let room of rooms[0]">
						<td>{{ room.room_number }}</td>
						<td>{{ room.capacity }}</td>
						<td>{{ room.available_spots }}</td>
						<td>{{ room.description }}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="column-right" style="background-color:#bbb;">
			<!--<h2>Floor Map Information</h2>-->
			<img id="floor_plan" [src]="floor_plan" class="map" usemap="#simple"/>
		</div>
	</div>

	<!-- Wish List Summary/Quick Reference -->
	<h2>My Wish Lists</h2>
	<div class="row">
		<div class = "wishColumn">
			<div class = "card">
				<h3>Wish List 1</h3>
				<p>Some text</p>
			</div>
		</div>
		<div class = "wishColumn">
			<div class = "card">
				<h3>Wish List 2</h3>
				<p>Some text</p>
			</div>
		</div>
		<div class = "wishColumn">
			<div class = "card">
				<h3>Wish List 3</h3>
				<p>Some text</p>
			</div>
		</div>
		<div class = "wishColumn">
			<div class = "card">
				<h3>Wish List 4</h3>
				<p>Some text</p>
			</div>
		</div>
	</div>
</div>

<!--Maps-->
<map name="simple">
	<area shape="poly" coords="80,41,143,41,142,76,103,76,103,64,79,64" id="stm-gf-001" />
	<area shape="poly" coords="64,107,64,94,39,95,39,75,0,77,0,108" id="stm-gf-002" />
	<area shape="poly" coords="103,77,143,76,142,107,79,108,79,84,103,85" id="stm-gf-003" />
	<area shape="poly" coords="1,108,1,142,41,141,40,129,63,130,64,107" id="stm-gf-004" />
	<area shape="poly" coords="79,107,79,132,103,132,104,143,143,142,142,107" id="stm-gf-005" />
	<area shape="poly" coords="64,151,63,176,1,176,1,142,40,142,40,151" id="stm-gf-006" />
	<area shape="poly" coords="142,176,143,142,103,143,103,153,79,153,80,177" id="stm-gf-007" />
	<area shape="poly" coords="40,211,1,210,1,176,62,176,64,199,38,198" id="stm-gf-008" />
	<area shape="poly" coords="79,177,142,176,143,211,103,211,103,201,79,201" id="stm-gf-009" />
	<area shape="poly" coords="63,244,63,220,39,220,38,211,0,211,0,246" id="stm-gf-010" />
	<area shape="poly" coords="79,245,143,245,142,211,103,211,103,222,79,222" id="stm-gf-011" />
</map>