.content{
	max-width: 1000px;
	margin: auto;
}
.btn-group button {
	background-color: #b30838; /* Red background */
	border: 1px solid #000; /* Black border */
	color: #fff; /* White text */
	padding: 10px 20px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: rgb(21, 113, 189); /* Blue */
}
* {
	box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column-left {
	float: left;
	width: 44%;
	padding: 10px;
	height: auto;
}

.column-right {
	float: left;
	width: 56%;
	padding: 10px;
	height: auto;
}

.row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Float four columns side by side, assuming there is a limit of 4 Wish Lists */
.wishColumn{
	float: left;
	width: 25%;
	padding: 0 10px;
}
/* Responsive Column */
@media screen and (max-width: 1000px) {
	.wishColumn{
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}
/* Style the counter cards */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
	margin-bottom: 17px;
}

.card:active {
	background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
   	outline: none;
}

.createNewWishlist h1 {
	margin: 0;
	font-size: 67px;
	color: #666;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
}

.wishListContainer {
	position: relative;
}

.wishListContainer .popupWindow {
	position: absolute;
	top: -1px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	background-color: #f9f9f9;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	box-shadow: 2px 4px 20px #000;
	text-align: center;
}

.wishListContainer .deleteCardPopup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	background-color: #f9f9f9;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	box-shadow: 2px 4px 20px #000;
	text-align: center;
}

.popupWindow button {
	background-color: #b30838; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 2px;
	margin-right: 2px;
}

.popupWindow button:active {
	background-color: #9b042f;
    box-shadow: inset 0px 0px 5px #000000;
   	outline: none;
}

.deleteCardPopup button {
	background-color: #b30838; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 2px;
	margin-right: 2px;
}

.deleteCardPopup button:active {
	background-color: #9b042f;
    box-shadow: inset 0px 0px 5px #000000;
   	outline: none;
}

.row .roomListPopup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	background-color: #f9f9f9;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	box-shadow: 2px 4px 20px #000;
	text-align: center;
}

.roomListPopup button {
	background-color: #b30838; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 2px;
	margin-right: 2px;
}

.roomListPopup button:active {
	background-color: #9b042f;
    box-shadow: inset 0px 0px 5px #000000;
   	outline: none;
}

#floor_plan {
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 530px;
}

img {
	color: #000;
	font-weight: bold;
}

.room {
	max-height: 620px;
	overflow: auto;
	background-color: rgb(71, 71, 71);
	color: #fff;
	border-radius: 7px;
	padding: 8px;
}

.failedToAdd {
	color: black;
	text-align: center;
	font-weight: bold;
}

#error {
	color: rgb(255, 0, 0);
}

table {
	border-collapse: collapse;
	width: 100%;
	cursor: pointer;
}

td, th {
	border: 2px solid #000;
	text-align: center;
	padding: 8px;
}
  
tr:nth-child(even) {
	background-color: rgb(114, 114, 114);
}

tr:not(:first-child):hover {
	background-color: rgb(146, 146, 146);
}

// .groupTooLarge {
// 	color: rgb(150, 0, 0);
// }

.leaderBanner {
	background-color: #0088cb;
	border: 1px solid #000;
	margin-bottom: 20px;
	text-align: center;
	padding: 13px;
	font-weight: bold;
	font-size: 18px;
}