<div class="body">
    <div class="form-container">
        <ul class="login-menu-list">
            <li><strong>Change Password</strong></li>
            <li><input type="password" name="Password" placeholder="Current Password" #oldPassword (input)="get-old-password(oldPassword.value)"></li>
            <li><input type="password" name="Password" placeholder="New Password" #newPassword (input)="get-new-password(newPassword.value)"></li>
            <li><input type="password" name="Confirm Password" placeholder="Confirm New Password" #confirmNewPassword (input)="get_confirmed_new_password(confirmNewPassword.value)"></li>
            <li *ngIf="!passwordsMatch"><h3>Passwords don't match.</h3></li>
            <li class="button-text" (click)="changePassword()">Submit<div class="loader" *ngIf="working"></div></li>
        </ul>
    </div>
</div>