* {
	box-sizing: border-box;
}
  
#bcCampusBackground {
	width: 100%;
}
 
body {
	background-image: url("../../assets/bc-campus-blur-v2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
  
.form-container {
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	width: 400px;
	height: 40.4%;
	padding: 20px   30px;
	background-color: #b30838;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 black;
}
  
.row {
	margin-top: 0px;
}
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
  
ul.login-menu-list {
	position: absolute;
	left: 19%;
	top: 2%;
	list-style: none;
	text-align: center;
	padding: 0px;
}
  
ul.login-menu-list li {
	width: 250px;
	text-align: center;
}
  
ul.login-menu-list li input {
	text-align: center;
	background-color: lightgrey;
	padding: 8px 38px;
	margin: 10px 0px;
	border: none;
	border-radius: 6px;
}
  
ul.login-menu-list li input[type = "button"] {
	background-color: grey;
}
  
ul.login-menu-list li:nth-child(1) {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
}