<div class="body">
    <div class="form-container">
        <ul class="login-menu-list">
            <li><strong>Change Password</strong></li>
            <li><input type="password" name="Password" placeholder="Current Password" #password></li>
            <li><input type="password" name="Password" placeholder="New Password" #newPassword></li>
            <li><input type="password" name="Confirm Password" placeholder="Confirm New Password" #confirmation></li>
            <li *ngIf="newPassword.value !== confirmation.value"><h3>Passwords don't match.</h3></li>
            <li class="button-text" (click)="changePassword(password.value, newPassword.value, confirmation.value)">Submit<div class="loader"></div></li>
        </ul>
    </div>
</div>
