<div class="body">
    <div class="form-container">
        <ul class="login-menu-list">
            <li><strong>Student Login</strong></li>
            <li><input type="text" name="Username" placeholder="Username"></li>
            <li><input type="password" name="Password" placeholder="Password"></li>
            <li><input type="button" name="Submit" value="Submit"></li>
            <li id="reset-password-text"><a routerLink="/reset-password">Need to reset your password?</a></li>
        </ul>
    </div>
</div>