<div class = "body">
    <img src="assets/bc-campus-blur-v2.jpg" class="bcCampusBackground" alt="Benedictine College" style="width:100%">
    <div class="headerRow">
        <div class="headerColumn">
            <img src="assets/whiteSpace.jpg" class="whiteSpace" alt="Benedictine College" style="width:97.25%">
            <img src="assets/bcLogo.jpg" class="bcLogo" alt="Benedictine College" style="width:260px">
        </div>
        <div class="headerColumn">
            <img src="assets/resLifeBanner.jpg" class="resLifeBanner" alt="Room Draw 2020">
        </div>
    </div>
    <div class = "form-container">
        <ul class = "login-menu-list">
            <li><strong>Student Login</strong></li>
            <li><input type = "text" name = "Username" placeholder="Username"></li>
            <li><input type = "password" name = "Password" placeholder="Password"></li>
            <li><input type = "button" name = "Submit" value = "Submit"></li>
        </ul>
    </div>
</div>