<div class="body">
    <div class="form-container">
        <ul class="login-menu-list">
            <li id="reset-password-header-text"><strong>Need to reset <br>your password?</strong></li>
            <li id="instructions">
                Email Eli Pruneda at epruneda@benedictine.edu with your new password and
                it will be updated.
            </li>
            <li>Enter Email<input type="email" name="Email Address" placeholder="example@ravens.benedictine.edu"></li>
            <li>Confirm Email<input type="email" name="Confirm Email Address" placeholder="example@ravens.benedictine.edu"></li>
            <li><input type="button" name="Submit" value="Submit"></li>
        </ul>
    </div>
</div>