#footer {
	position: absolute;
	bottom: 0px;
}

#LeaveGroupButton {
	background-color: red; /*Red Background*/
	border: 1px solid #8b0000; /*Dark Red border*/
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: right; /* Float on the right side of page*/
	border-radius: 4px;
}

/* Add a background color on hover */
#LeaveGroupButton:hover {
	background-color: #2196F3; /* Blue */
}

table, th, td {
	border: 1px solid #aaa;
	border-collapse: collapse;
	padding: 15px;
	background-color: #eee;
}