<div>
	<div class="groupTitle">Your Group</div>
	<table>
		<ng-container *ngIf="group.grade_level != undefined; else gradeEmpty">
			<tr>
				<th>Leader</th>
				<th>Class Code</th>
				<th>Random Number</th>
				<th>Actions</th>
			</tr>
			<tr>
				<td>{{ groupLeader() }}</td>
				<td>{{ group.grade_level }}</td>
				<td>{{ group.random_number }}</td>
				<td rowspan="2"><button class="leaveGroupButton" (click)="leaveGroup()">Leave Group</button></td>
			</tr>
			<tr>
				<td class="group-members-p">Group Members:</td>
				<td colspan="2">
					<ng-container *ngFor="let member of members">
						{{ member.first_name }} {{ member.last_name }} <br/>
					</ng-container>
				</td>
			</tr>
		</ng-container>
		<ng-template #gradeEmpty>
            <tr>
                <td>You have no members in your group. <br/> To get started invite your group or be your own group.</td>
            </tr>
        </ng-template>
		<tr *ngIf="addGroupButtonVisable">
			<td colspan="4"><button class="addGroupButton" (click)="makeAddGroupVisable()">Add Students to My Group</button></td>
		</tr>
		<tr *ngIf="addGroupVisable">
			<td colspan="4">
				<button class="close" (click)="closeAddGroup()">X</button>
				<br/>
				<label>
					Add Group Members:
					<input type="text" placeholder="Student" #myInput (input)=inputCollector(myInput.value)>
					<button class="searchButton" (click)="searchForStudents()">🔍</button>
				</label>
				<div *ngIf="listAllStudents" class="searchTable">
					<br/>
					<table>
						<tr>
							<th>Student</th>
							<th>Class Level</th>
							<th>Actions</th>
						</tr>
						<ng-container *ngIf="searchedForStudents.length > 0; else notFound">
							<tr *ngFor="let student of searchedForStudents">
								<td>{{ student.first_name }} {{ student.last_name }}</td>
								<td>{{ student.grade_level }}</td>
								<td><button class="addStudentButton" (click)="addStudent(student.random_number)">+</button></td>
							</tr>
						</ng-container>
						<ng-template #notFound>
							<tr>
								<td colspan="3">Student not found</td>
							</tr>
						</ng-template>
					</table>
				</div>
				<ng-container *ngIf="studentsInGroup.length > 0">
					<br/>
					<br/>
					Students to Invite:
					<table class="inviteListTable">
						<tr>
							<th>Name</th>
							<th>Class Level</th>
							<th>Actions</th>
						</tr>
						<tr *ngFor="let student of studentsInGroup">
							<td>{{ student.first_name }} {{ student.last_name }}</td>
							<td>{{ student.grade_level }}</td>
							<td>
								<button class="removeStudentButton" (click)="removeStudent(student.random_number)">-</button>
							</td>
						</tr>
					</table>
					<br/>
					<br/>
					<button class="addGroupButton" (click)="createGroup()">Invite Members</button>
				</ng-container>
			</td>
		</tr>
	</table>
</div>
