.close {
	font-weight: bold;
	color: #555454;
	text-align: right;
	cursor: pointer;
}

.close:hover {
	font-weight: bold;
	color: #333333;
}

#LeaveGroupButton {
	background-color: red; /*Red Background*/
	border: 1px solid #8b0000; /*Dark Red border*/
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: right; /* Float on the right side of page*/
	border-radius: 4px;
}

/* Add a background color on hover */
#LeaveGroupButton:hover {
	background-color: rgb(4, 88, 156); /* Blue */
}

#AddGroupButton {
	background-color: green; /*Red Background*/
	border: 1px solid rgb(0, 63, 0); /*Dark Red border*/
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: right; /* Float on the right side of page*/
	border-radius: 4px;
}

/* Add a background color on hover */
#AddGroupButton:hover {
	background-color: rgb(4, 88, 156); /* Blue */
}

table, th, td {
	border: 1px solid #aaa;
	border-collapse: collapse;
	padding: 15px;
	background-color: #eee;
}

th, td {
	text-align: center;
}

.groupTitle {
	font-weight: bold;
}